**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [5]:
x=input('Введите слово')
y=len(x)
z=y/2
if y%2==0:
    print(x[int(z)-1:3])
else:
    print(x[int(z)])

Введите словоtesting
t

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [78]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
x=sorted(boys)
y=sorted(girls)
c=zip(x,y)
for names in c :
    print('Идеальные пары:',names [0], 'и', names[1])

Идеальные пары: Alex и Emma
Идеальные пары: Arthur и Kate
Идеальные пары: John и Kira
Идеальные пары: Peter и Liza
Идеальные пары: Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [1]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
T=countries_temperature[0]
G=countries_temperature[1]
R=countries_temperature[2]
P=countries_temperature[3]
t=T[1]
g=G[1]
r=R[1]
p=P[1]
print("Cредняя температура за неделю в Тайланде:",((5/9)*(t[0]+t[1]+t[2]+t[3]+t[4]+t[5]+t[6])//7-32), "градусов")
print("Cредняя температура за неделю в  Германии:",((5/9)*(g[0]+g[1]+g[2]+g[3]+g[4]+g[5]+g[6])//7-32), "градусов")
print("Cредняя температура за неделю в  России:",((5/9)*(r[0]+r[1]+r[2]+r[3]+r[4]+r[5]+r[6])//7-32), "градусов")
print("Cредняя температура за неделю в  Польше:",((5/9)*(p[0]+p[1]+p[2]+p[3]+p[4]+p[5]+p[6])//7-32), "градусов")

Cредняя температура за неделю в Тайланде: 9.0 градусов
Cредняя температура за неделю в  Германии: -1.0 градусов
Cредняя температура за неделю в  России: -11.0 градусов
Cредняя температура за неделю в  Польше: -3.0 градусов

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [72]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

sum_view=0
users=[]

for el in stream:
    el = el.split(',')
    sum_view += int(el[2])
    if el[1] not in users:
        y = users.append(el[1])
print (len(users)/sum_views)

0.043010752688172046

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [80]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
d=input('Введите дату')
c=input('Введите компанию')
for el in stats:
    if d==el[0] and c==el[1]:
        print(el[2])

Введите дату2018-01-01
Введите компаниюgoogle
25

**Задача 6**. Дан список вида:

In [81]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
sum=0
x=0
y=0
for z in data:
    x+=1
    y+=1
    sum+= data[x-1][y-1]
print(sum)

103

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).