In [16]:
import pandas as pd

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [116]:
ratings = pd.read_csv(r'C:\Users\Анна\Desktop\netology\ml-latest-small\ratings.csv',',')
movi = pd.read_csv(r'C:\Users\Анна\Desktop\netology\ml-latest-small\movies.csv',',')


#отбираем фильмы с рейтингом 5.0
max_r=ratings[ratings.rating == 5.0]
# выводим айди фильма и кличество максимальных оценок
new=max_r['movieId'].value_counts().idxmax()
movi[movi.movieId.eq(new)]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [130]:
power = pd.read_csv(r'C:\Users\Анна\Desktop\netology\10._Основы_pandas\power.csv',',')
power_new= power[(power.country.isin(['Latvia','Estonia','Lithuania'])) & (power.category.isin(['4', '12', '21'])) & (power.year >= 2005) & (power.year<=2010) & (power.quantity>0)]
power_new.quantity.sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [62]:
page_url = 'https://www.cbr.ru/hd_base/metall/metall_base_new/'

f = pd.read_html(page_url, attrs = {'class': 'data'}, encoding='utf-8')
f

[        Дата*      Золото  Серебро     Платина    Палладий
 0  25.09.2020  4 592,3200   551400  2 081,8300  5 520,9600
 1  24.09.2020  4 635,0100   579200  2 096,4400  5 479,2300
 2  23.09.2020  4 666,7300   595900  2 172,6200  5 559,0700
 3  22.09.2020  4 720,4300   644400  2 261,3300  5 737,6600
 4  19.09.2020  4 715,5000   652800  2 274,8300  5 659,3300
 5  18.09.2020  4 680,6100   646600  2 299,0800  5 717,4900
 6  17.09.2020  4 733,1700   659600  2 363,2100  5 721,3300
 7  16.09.2020  4 746,6100   665900  2 332,7500  5 630,0300
 8  15.09.2020  4 665,6700   645800  2 258,0100  5 582,5600]